{% extends "tickets/base.html" %}

{% block tickets_extrahead %}
<script src="{{ STATIC_URL }}tickets/js/jquery.ba-bbq.min.js"></script>
<script src="{{ STATIC_URL }}tickets/js/tickets.js"></script>
<script>
window.history.replaceState(null, 'Tickets', '?'+'{{ params.urlencode|safe }}')
</script>
{% endblock %}

{% block tickets_content %}
{{ block.super }}
<div class="page-tools">
  <ul class="filters">
    <li>
      <label>Project:</label>
      <select name="project" class="filter">
        <option value="">All</option>
        {% for client in clients %}
        <optgroup label="{{ client }}">
          <option value="all_{{ client.pk }}"{% if client.pk == all_client %} selected{% endif %}>All {{ client }}</option>
          {% for project in client.projects.all %}
          <option {% if current_project.pk == project.pk %}selected {% endif %}value="{{ project.pk }}">{{ project.name }}</option>
          {% endfor %}
        </optgroup>
        {% endfor %}
      </select>
    </li>
  </ul>
  <ul class="tools">
    <li><a class="btn grey" href="{% url tickets_create %}"><strong>+</strong> New Ticket</a></li>
  </ul>
</div>
<div class="module">
<header>
  <h3>Tickets</h3>
</header>
<div class="tools">
  <div>
    <label>Owner:</label>
    <select name="owner" class="filter">
      <option value="">All</option>
      <option value="none"{% if params.owner == "none" %} selected{% endif %}>Unassigned</option>
      <option value="me"{% if params.owner == "me" %} selected{% endif %}>My Tickets</option>
    </select>
  </div>
  <div>
    <label>Status:</label>
    <select name="status" class="filter">
      <option value="">All</option>
      {% for k,v in statuses %}
      <option value="{{k}}"{% if params.status == k %} selected{% endif %}>{{v}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="search">
    <label>Search:</label>
    <input type="text" name="search" />
  </div>
</div>
<table id="tickets_list">
  <thead>
    <th><input type="checkbox" class="select-all" /></th>
    <th>ID</th>
    <th>Title</th>
    <th>Project</th>
    <th>Owner</th>
    <th>Submitted</th>
    <th>Due</th>
    <th>Status</th>
  </th>
  </thead>
  <tbody>
    {% for ticket in ticket_list %}
    <tr class="row {% cycle "odd" "even" %} status-{{ ticket.status|slugify }}{% if ticket.past_due %} past-due{% endif %}">
      <td><input type="checkbox" /></td>
      <td class="id"><a href="{{ ticket.get_absolute_url }}">{{ ticket.id }}</a></td>
      <td class="title"><a href="{{ ticket.get_absolute_url }}">{{ ticket.title }}</a></td>
      <td class="project">{{ ticket.project }}</td>
      <td class="owner">{{ ticket.owner|default:"(unassigned)" }}</td>
      <td class="submitted">{{ ticket.submitted_date }}</td>
      <td class="due">{{ ticket.due_date|default:"" }}</td>
      <td class="status">{{ ticket.get_status_display }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
