{% extends "tickets/base.html" %}
{% load formhelper %}

{% block tickets_extrahead %}
{{ block.super }}
<script>
(function($){
  $(document).ready(function(){
    $('div.field.status select').change(function(){
      $('div.field.closed-reason').toggle(this.value == 'CLOSED');
    }).change();
  });
})(jQuery);
</script>
{% endblock %}

{% block tickets_content %}
{{ block.super }}
<div class="module">
  <header>
    <h3>{% if ticket %}Edit Ticket #{{ ticket.id }}{% else %}New Ticket{% endif %}</h3>
  </header>
  <form method="POST">{% csrf_token %}
  {% include "formhelper/includes/form.html" %}
  <div class="submit-row">
    <input type="submit" value="{% if ticket %}Save{% else %}Create{% endif %}" />
  </div>
  </form>
</div>
{% endblock %}
