{% extends "tickets/base.html" %}
{% load markup %}

{% block extrahead %}
<script>
(function($){
  $(document).ready(function(){
    $('div.field.change-status select').change(function(){
      $('div.field.closed-reason').toggle(this.value=='CLOSED');
    }).change();
  });
})(jQuery);
</script>
{% endblock %}

{% block tickets_content %}
<div class="page-tools">
  <ul class="tools">
    <li><a class="btn grey" href="{% url tickets_edit pk=ticket.pk %}">Edit Ticket</a></li>
  </ul>
</div>
<div class="module ticket detail">
  <header>
  <h3><a href="{{ ticket.get_absolute_url }}">{{ ticket }}</a></h3>
  </header>
  <dl>
    <dt>Project:</td><dd>{{ ticket.project }}</dd>
    <dt>Status:</dt><dd>{{ ticket.get_status_display }}</dd>
    <dt>Submitted by:</dt><dd>{{ ticket.submitted_by }}</dd>
    <dt>Owner:</dt><dd>{{ ticket.owner }}</dd>
    <dt>Date:</dt><dd>{{ ticket.submitted_date }}</dd>
    {% if ticket.due_date %}
    <dt>Due on:</dt><dd>{{ ticket.due_date }}</dd>
    {% endif %}
    {% if ticket.tags %}
    <dt>Tags:</dt><dd>{{ ticket.tags }}</dd>
    {% endif %}
  </dl>
  <div class="description">
    {{ ticket.description|urlize|markdown }}
  </div>
</div>
<div class="module ticket history" id="history">
  <header>
    <h3><a href="#comments" id="comments">Comments</a></h3>
  </header>
  {% for event in ticket.events.all %}
  <div class="event"{% if event.comment_id %} id="C{{ event.comment.pk }}"{% endif %}>
    <p>
      {% spaceless %}
      {% if event.comment_id %}<a href="#C{{ event.comment.pk }}">{% endif %}
      <strong>{{ event.user }}</strong> {{ event.date|date }} at {{ event.date|time }}
      {% if event.comment_id %}</a>{% endif %}
      {% endspaceless %}
    </p>
    {% if event.changes.count > 0 %}
    <div class="changes">
      <ul>
        {% for change in event.changes %}
        <li>{{ change.description }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if event.comment_id %}
    <div class="comment">
      {{ event.comment|urlize|markdown }}
    </div>
    {% endif %}
  </div>
  {% endfor %}
  <form method="post">{% csrf_token %}
    {% with comment_form as form %}
    {% include "formhelper/includes/form.html" %}
    {% endwith %}
    <div class="submit-row">
      <input type="submit" value="Submit" />
    </div>
  </form>
</div>
{% endblock %}
