{% extends "tickets/base.html" %}
{% load ui_tags %}

{% block tickets_extrahead %}
{{ block.super }}
<script src="{{ STATIC_URL }}ui/js/jquery.ba-bbq.min.js"></script>
<script src="{{ STATIC_URL }}ui/js/filters.js"></script>
<script src="{{ STATIC_URL }}ui/js/sortable.js"></script>
<script src="{{ STATIC_URL }}ui/js/actions.js"></script>
<script>
window.history.replaceState(null, 'Tickets', '?'+'{{ params.urlencode|safe }}');
</script>
{% endblock %}
{% block tickets_content %}
{{ block.super }}
<div class="page-tools">
  <ul class="filters">
    <li>
      <label>Project:</label>
      <select name="project" class="filter">
        <option value="__all__">All</option>
        {% for client in clients %}
        <optgroup label="{{ client }}">
          <option value="all_{{ client.pk }}"{% if client.pk == all_client %} selected{% endif %}>All {{ client }}</option>
          {% for project in client.projects.all %}
          <option {% if current_project.pk == project.pk %}selected {% endif %}value="{{ project.pk }}">{{ project.name }}</option>
          {% endfor %}
        </optgroup>
        {% endfor %}
      </select>
    </li>
  </ul>
  <ul class="tools">
    <li><a class="btn grey" href="{% url tickets_create %}"><strong>+ New Ticket</strong></a></li>
  </ul>
</div>
<div class="module">
<header>
  <h3>Tickets</h3>
</header>
<div class="tools filters">
  <div>
    <label>Owner:</label>
    <select name="owner" class="filter">
      <option value="__all__">All</option>
      <option value="none"{% if params.owner == "none" %} selected{% endif %}>Unassigned</option>
      <option value="{{ user.username }}"{% if params.owner == user.username %} selected{% endif %}>{{ current_user }}</option>
      {% for u in users %}
      {% if u.username != user.username %}
      <option value="{{ u.username }}">{{ u }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <div>
    {% if not archive %}
    <label>Status:</label>
    <select name="status" class="filter">
      <option value="__all__">All</option>
      {% for k,v in statuses %}
      <option value="{{k}}"{% if params.status == k %} selected{% endif %}>{{v}}</option>
      {% endfor %}
    </select>
    {% else %}
    <label>Closed Reason:</label>
    <select name="closed_reason" class="filter">
      <option value="__all__">All</option>
      {% for k,v in closed_reasons %}
      <option value="{{k}}"{% if params.closed_reason == k %} selected{% endif %}>{{v}}</option>
      {% endfor %}
    </select>
    {% endif %}
  </div>
  <div class="search">
    <label>Search:</label>
    <input type="text" name="search" value="{{ params.q }}" />
  </div>
</div>
<div class="tools actions">
  <div>
    <label>Set Status:</label>
    <select name="set_status" onchange="doAction('set-status', this.value);">
      <option value="">--------</option>
      {% for k,v in statuses %}
      {% if k != "CLOSED" %}{# closed needs a "closed reason" setting #}
      <option value="{{ k }}">{{ v }}</option>
      {% endif %}
      {% endfor %}
      {% for k,v in closed_reasons %}
      <option value="CLOSED-{{ k }}">Closed: {{ v }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <a class="action btn grey" rel="convert_to_task" href="javascript:doAction('convert-task');">Convert to Task</a>
  </div>
</div>
<form id="action_form" method="post" action="{% url tickets_action %}">{% csrf_token %}
  <input type="hidden" name="action" />
  <input type="hidden" name="action_value" />
  <div id="tickets_list" class="biglist sortable" rel="ticket">
    {% for ticket in ticket_list %}
    <div id="ticket_{{ ticket.id }}" class="row {% cycle "odd" "even" %} status-{{ ticket.status|slugify }}{% if ticket.past_due %} past-due{% endif %}">
      <div class="col selector">
        <input type="checkbox" name="ids" value="{{ ticket.pk }}" />
        <div class="icons">
          {% if ticket.warnings %}
          <span class="warning" title="{{ ticket.warnings.items.0.1 }}">!</span>
          {% endif %}
        </div>
      </div>
      <div class="col status">
        <div class="status-label">
          <span class="{{ ticket.status|cssclass }}">{{ ticket.get_status_description }}</span>
        </div>
        {% if ticket.task %}
        <div class="status-label">
          <a href="{% url taskboard_index %}?#{% if ticket.task.iteration >= 0 %}i{{ ticket.task.iteration }}{% else %}u{% endif %}">
            <span class="{{ ticket.task.status|cssclass }}{% if ticket.task %} task {{ ticket.task.status|cssclass }}{% endif %}">{{ ticket.task.get_status_description }}</span>
          </a>
        </div>
        {% endif %}
      </div>
      <div class="col summary">
        <h4 class="title">
          <a href="{{ ticket.get_absolute_url }}">
            <span class="id">#{{ ticket.id }}</span> {{ ticket.title }}
          </a>
        </h4>
        <p class="project">{{ ticket.project }}</p>
        <p class="last-activity{% if ticket.warnings.last_activity %} warning{% endif %}">
          {% with ticket.get_last_activity as activity %}
          Last activity: <a href="{{ ticket.get_absolute_url }}#e{{ activity.id }}"><em>{{ activity.user }}</em> on <em>{{ activity.date|date }}</em></a>
          {% endwith %}
        </p>
      </div>
      <div class="col properties">
        <dl>
          <dt class="owner">Owner:</dt>
          <dd class="owner">{{ ticket.owner }}</dd>
          {% if ticket.due_date %}
          <dt class="due{% if ticket.warnings.due_date %} warning{% endif %}">Due:</dt>
          <dd class="due{% if ticket.warnings.due_date %} warning{% endif %}">{{ ticket.due_date|date }}</dd>
          {% endif %}
        </dl>
      </div>
    </div>
    {% endfor %}
  </div>
</form>
</div>
{% endblock %}
