from defaults import *

ENVIRONMENT = 'development'

DEBUG = True
TEMPLATE_DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'myproject_development',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': ''
    }
}

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

MEDIA_ROOT = os.path.join(os.path.dirname(__file__),'..','.media')

# uncomment to use debug toolbar (you'll need django-debug-toolbar installed)
#MIDDLEWARE_CLASSES = MIDDLEWARE_CLASSES + \
#    ('debug_toolbar.middleware.DebugToolbarMiddleware',)
#INSTALLED_APPS = INSTALLED_APPS + ('debug_toolbar',)
