from defaults import *

ENVIRONMENT = 'production'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'myapp_production',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

X_SENDFILE_HEADER = True

PREPEND_WWW = True

DEFAULT_FROM_EMAIL = 'Site Name <info@sample.com>'
SERVER_EMAIL = 'errors@django.farstarserver.com'

CACHE_BACKEND = 'memcached://127.0.0.1:11211/'

import os
MEDIA_ROOT = os.path.join(os.path.dirname(__file__), '..', '..', 'media')

# Uncomment to use Rackspace CloudFiles as your primary storage backend
#CUMULUS_USE_SERVICENET = True
#DEFAULT_FILE_STORAGE = 'cumulus.storage.CloudFilesStorage'
#STATIC_URL = '' # The full CDN url to the above container
