{% load ui_tags %}
{% load taskboard_tags %}

  {% for task in task_list %}
  {% ifchanged task.iteration %}
  {% if task.iteration >= 0 %}
  <a name="i{{ task.iteration }}"></a>
  <div id="task_iteration_{{ task.iteration }}" class="iteration-separator scheduled">
    {{ task.iteration_date|date:"M j" }} - {{ task.iteration_end_date|date:"M j" }}
    <a href="#" class="points">{% get_iteration_points task.iteration %} pts
      {% iteration_point_breakdown task.iteration %}
    </a>
  </div>
  {% else %}
  <div id="task_iteration_unscheduled" class="iteration-separator">Unscheduled Tasks</div>
  <a name="u"></a>
  {% endif %}
  {% endifchanged %}
  <div id="task_{{ task.id }}" class="row {% cycle "odd" "even" %}{% if task.iteration < 0 %} unscheduled{% endif %}">
    {% include "taskboard/includes/task_list_item.html" %}
  </div>
  {% endfor %}
