body{
	font-family: tahoma, arial, helvetica, sans-serif;
  color: #4D4D4D;
  font-size: 13px;
	background: #222936;
}
#main {
  background: #fff;
}

.content-wrapper{
	margin:auto;
	width:960px;
}

#header-container{
	background-color:#222936;
	height:130px;
	border-bottom:5px solid #000;
	margin-bottom:50px;
	-webkit-box-shadow:0 40px 40px -40px #AAA;
	   -moz-box-shadow:0 40px 40px -40px #AAA;
	        box-shadow:0 40px 40px -40px #AAA;
}
h1 {
  position: relative;
}
h1 span {
  right: -50px;
  top: 0;
  position: absolute;
  font-size: .4em;
  display: block;
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
  background: rgba(255,255,255,.7);
  color: #000;
  text-shadow: none;
  padding: 2px;
}
h1, h2, h3{
  text-shadow: rgba(0,0,0,.2) 2px 2px 5px;
}
h2, h3 {
  margin:30px 0;
}
h2{font-size: 30px;}
h3{
  font-size: 20px;
  margin: 1em 0;
}
h2 a, h2 a:visited, h3 a, h3 a:visited {
  color: inherit;
}
input[type="text"], input[type="password"], input[type="file"], textarea, select {
  background-color: #F6F6F6;
  border: 1px solid #929292;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 6px 5px;
}
#title, h2, h3{font-weight:normal;}

#title{
	font-size: 40px;
	color:white;
	float:left;
  margin-top: 50px;
  text-shadow: 2px 2px 5px #000;
}

header.main {
  background: -webkit-radial-gradient(260px -40px, 300px 170px, rgba(228, 228, 228, 0.29) 0%, rgba(228, 228, 228, 0) 95%);
  height: 130px;
}

header.main nav{
	float:right;
	margin-top:99px;
}

header.main nav ul li{
	display:inline;
}

nav a{
	padding:15px;
	color:white;
	text-decoration:none;
  background: -webkit-linear-gradient(top, #3E444F 0, #222936 20px); 
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  font-size: 1.1em;
  text-shadow: 1px 1px 2px #000;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, .5);
}
nav a:visited {
  color:white;
}

#footer-container{
	background-color:#222936;
	height:240px;
	border-top:5px solid #000;
	margin-top:50px;
	-webkit-box-shadow:0 -40px 40px -40px #AAA;
	   -moz-box-shadow:0 -40px 40px -40px #AAA;
	        box-shadow:0 -40px 40px -40px #AAA;
}

#footer-container footer{
	color:white;
}

a, a:visited {
  color: #4d4d4d;
  text-decoration: none;
}
p a, a:visited {
  color: #004A80;
}
a:hover {
  text-decoration: underline;
}
button, .btn, input[type=submit] {
  background: #E1E1E1;
  background: -moz-linear-gradient(top, #E1E1E1 0%, #D2D2D2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E1E1E1), color-stop(100%,#D2D2D2));
  background: -webkit-linear-gradient(top, #E1E1E1 0%,#D2D2D2 100%);
  background: -o-linear-gradient(top, #E1E1E1 0%,#D2D2D2 100%);
  background: -ms-linear-gradient(top, #E1E1E1 0%,#D2D2D2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#d2d2d2',GradientType=0 );
  background: linear-gradient(top, #E1E1E1 0%,#D2D2D2 100%);
  -moz-box-shadow: inset 0 1px 0 0 #f1f1f1, 0 1px 0 0px #e3e3e3;
  -ms-box-shadow: inset 0 1px 0 0 #f1f1f1, 0 1px 0 0px #e3e3e3;
  -o-box-shadow: inset 0 1px 0 0 #f1f1f1, 0 1px 0 0px #e3e3e3;
  box-shadow: inset 0 1px 0 0 #f1f1f1, 0 1px 0 0px #e3e3e3;
  border: 1px solid #979797;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  line-height: 1;
  text-align: center;
  text-shadow: 0 1px 0 #EEE;
  padding: 5px;
}
a.btn {
  text-decoration: none;
}
a.btn:visited {
  color: inherit;
}
h2 .btn {
  font-size: 12px;
  float: right;
  margin-top: 10px;
}

.page-tools {
  padding: 4px 0;
}
.page-tools:before, .page-tools:after {
  content: "";
  display: table;
}
.page-tools:after {
  clear: both;
}
.page-tools ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-tools li {
  float: left;
}
.page-tools li a {
  display: block;
}
.page-tools select {
  padding: 2px 4px;
}
.page-tools ul:before, .page-tools ul:after {
  content: "";
  display: table;
}
.page-tools ul:after {
  clear: both;
}
.page-tools ul.tools {
  float: right;
}
.page-tools ul.tools li {
  margin-left: 10px;
}
.page-tools ul.filters {
  list-style: none;
  padding: 0;
  float: left;
}
.page-tools ul.filters li {
  margin-right: 10px;
}
.module {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #222936;
  margin-bottom: 1em;
}
.module header {
  margin: 0;
  padding: 5px 10px;
  border-radius: 4px 4px 0 0;
  background: -webkit-linear-gradient(top, #585D66 0, #222936 20px); 
  -webkit-box-shadow: inset 0 1px 2px rgba(255, 255, 255, .5);
     -moz-box-shadow: inset 0 1px 2px rgba(255, 255, 255, .5);
          box-shadow: inset 0 1px 2px rgba(255, 255, 255, .5);
  color: #fff;
  height: 24px;
}
.module header h3 {
  margin: 0;
  float: left;
  height: 14px;
}
.module header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
  height: 14px;
}
.module header ul li {
  float: left;
}
.module header ul li a {
  color: #fff;
}
.module .tools {
  border-bottom: 1px solid #d4d4d4;
  background: #f7f7f7;
  padding: 10px;
  height: 24px;
}
.module .tools div {
  float: left;
  margin: 0 6px;
}
.module .tools div:last-child {
  margin-right: 0;
}
.module .tools div:first-child {
  margin-left: 0;
}
.module .tools div label {
  padding-right: 4px;
}
.module .tools div.search {
  float: right;
}
.module .tools select {
  padding: 2px 4px;
}
.module .tools input[type="text"] {
  border: 1px solid #B6B6B6;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 3px 20px 3px 3px;
  background: url(../img/search.png) no-repeat 98% center white !important;
  box-shadow: 0 1px 1px #BBBBBB inset;
  -moz-box-shadow: 0 1px 1px #BBBBBB inset;
  -webkit-box-shadow: 0 1px 1px #BBBBBB inset;
}
#content table {
  width: 100%;
}
#content table th, #content table td {
  text-align: left;
  padding: 5px;
}
#content table td a {
}
#content table thead th {
  color: #777;
}
#content table tr.odd {
  background: #f7f7f7;
}
#content table tr.even {
  background: #ededed;
}
#content form div.field {
  margin: 8px 0;
}
#content form div.field label {
  font-weight: bold;
  width: 100px;
  display: block;
  float: left;
  clear: left;
}
#content form input[type=submit] {
  padding: 6px;
}
#content form div.submit-row {
  padding-left: 100px;
}
.module form {
  padding: 10px;
}
.module table:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
.module table:last-child tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
.module > div {
  padding: 10px;
}
.module > dl {
  padding: 10px;
  margin-top: 0;
}
dl dt {
  font-weight: bold;
  float: left;
  clear: left;
  width: 100px;
  height: 16px;
  margin: 8px 0;
}
dl dd {
  float: left;
  margin: 8px 0;
  height: 16px;
}
dl + * {
  clear: both;
}
.module.ticket.detail div.description {
  border-top: 1px solid #d4d4d4;
}
.module.ticket.history form textarea {
  width: 800px;
  margin-right: 20px;
}
.module.ticket.history .event {
  border-bottom: 1px solid #d4d4d4;
}
.module.ticket.history .event a.permalink {
  color: inherit;
  text-decoration: none;
}
