{% extends "taskboard/base.html" %}

{% block taskboard_extrahead %}
<script src="{{ STATIC_URL }}ui/js/jquery.ba-bbq.min.js"></script>
<script src="{{ STATIC_URL }}ui/js/filters.js"></script>
<script src="{{ STATIC_URL }}ui/js/sortable.js"></script>
<script src="{{ STATIC_URL }}ui/js/actions.js"></script>
<script src="{{ STATIC_URL }}taskboard/js/sortable.js"></script>
<script>
window.history.replaceState(null, 'Tasks', '?'+'{{ params.urlencode|safe }}')
</script>
{% endblock %}

{% block taskboard_content %}
{{ block.super }}
<div class="page-tools">
  <ul class="filters">
    <li>
      <label>Project:</label>
      <select name="project" class="filter">
        <option value="__all__">All</option>
        {% for client in clients %}
        <optgroup label="{{ client }}">
          <option value="all_{{ client.pk }}"{% if client.pk == all_client %} selected{% endif %}>All {{ client }}</option>
          {% for project in client.projects.all %}
          <option {% if current_project.pk == project.pk %}selected {% endif %}value="{{ project.pk }}">{{ project.name }}</option>
          {% endfor %}
        </optgroup>
        {% endfor %}
      </select>
    </li>
  </ul>
  <ul class="tools">
    <li><a class="btn grey" href="{% url taskboard_create %}"><strong>+</strong> New Task</a></li>
  </ul>
</div>
<div class="module">
<header>
  <h3>Tasks</h3>
</header>
<div class="tools filters">
  <div>
    <label>Owner:</label>
    <select name="owner" class="filter">
      <option value="__all__">All</option>
      <option value="none"{% if params.owner == "none" %} selected{% endif %}>Unassigned</option>
      <option value="{{ user.username }}"{% if params.owner == user.username %} selected{% endif %}>{{ current_user }}</option>
      {% for u in users %}
      {% if u.username != user.username %}
      <option value="{{ u.username }}"{% if params.owner == u.username %} selected{% endif %}>{{ u }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="search">
    <label>Search:</label>
    <input type="text" name="search" value="{{ params.q }}" />
  </div>
</div>
<div class="tools actions">
  <div>
    <a class="action btn grey" href="javascript:doAction('unschedule')">Move to unscheduled</a>
  </div>
</div>
<form id="action_form" method="post" action="{% url taskboard_action %}">{% csrf_token %}
  <input type="hidden" name="action" />
  <input type="hidden" name="action_value" />
  <div id="taskboard_list" class="biglist sortable" rel="task">
    {% include "taskboard/includes/task_list_items.html" %}
  </div>
</form>
<div id="taskboard_list_overlay">
</div>
</div>
{% endblock %}
