{% extends "taskboard/base.html" %}

{% block taskboard_extrahead %}
<script src="{{ STATIC_URL }}ui/js/jquery.ba-bbq.min.js"></script>
<script src="{{ STATIC_URL }}ui/js/filters.js"></script>
<script src="{{ STATIC_URL }}ui/js/sortable.js"></script>
<script src="{{ STATIC_URL }}taskboard/js/sortable.js"></script>
<script>
window.history.replaceState(null, 'Tasks', '?'+'{{ params.urlencode|safe }}')
</script>
{% endblock %}

{% block taskboard_content %}
{{ block.super }}
<div class="page-tools">
  <ul class="filters">
    <li>
      <label>Project:</label>
      <select name="project" class="filter">
        <option value="__all__">All</option>
        {% for client in clients %}
        <optgroup label="{{ client }}">
          <option value="all_{{ client.pk }}"{% if client.pk == all_client %} selected{% endif %}>All {{ client }}</option>
          {% for project in client.projects.all %}
          <option {% if current_project.pk == project.pk %}selected {% endif %}value="{{ project.pk }}">{{ project.name }}</option>
          {% endfor %}
        </optgroup>
        {% endfor %}
      </select>
    </li>
  </ul>
  <ul class="tools">
    <li><a class="btn grey" href="{% url taskboard_create %}"><strong>+</strong> New Task</a></li>
  </ul>
</div>
<div class="module">
<header>
  <h3>Tasks</h3>
</header>
<div class="tools">
  <div>
    <label>Owner:</label>
    <select name="owner" class="filter">
      <option value="__all__">All</option>
      <option value="none"{% if params.owner == "none" %} selected{% endif %}>Unassigned</option>
      <option value="me"{% if params.owner == "me" %} selected{% endif %}>My Tasks</option>
      <optgroup>
        {% for user in other_users %}
        <option value="{{ user.username }}">{{ user }}</option>
        {% endfor %}
      </optgroup>
    </select>
  </div>
  <div class="search">
    <label>Search:</label>
    <input type="text" name="search" value="{{ params.q }}" />
  </div>
</div>
<div class="actions">
  <div>
    <label>Actions:</label>
    <select name="actions">
      <option value="">---</option>
      <option value="mark-copleted">Mark Completed</option>
    </select>
  </div>
</div>
<div id="taskboard_list" class="biglist sortable" rel="task">
  {% include "taskboard/includes/task_list_items.html" %}
</div>
<div id="taskboard_list_overlay">
</div>
</div>
{% endblock %}
